@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    font-family: "Inter", sans-serif;
}

.btn{
    background-image: linear-gradient(22.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248));
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.50rem;
    border-radius: 10000px;
    padding:12px 20px; 
    border: none;
}

nav{ 
    border-bottom: 1px solid rgb(69, 67, 67);
    max-width: 1600;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo{
    font-size: 2rem;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.logo span{
    background:linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    font-family: "Inter", sans-serif;
}




header{
    background-color: #1a0b2e;
}

.banner-container{
    background-image: url(./assets/hero-bg.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.banner-text{
    display: flex;
    justify-content: center;
}

.banner-text h1{
    font-size:3.75rem;
    font-weight:800;
    color:#fff;
    font-family: "Inter", sans-serif;
}

.banner-text p{
    font-size: 1rem;
    color: #fff;
    font-family: "Inter", sans-serif;
    margin-bottom:1.5rem;
}

.button{
    display: flex;
    gap: 10px;
}


.banner-img{
    width: 350px;
    height:350px;
    background-image: url(./assets/hero-circle.png);
    margin:0 auto;
    display: flex;
    position: relative;
}

.new-btn{
    color: #1a0b2e;
    background-color: #00ff88;
    position: absolute;
    right: 24px;
    padding:8px 16px;
    font-size: 1.20rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border-radius: 10000px;
    box-shadow: 0 0 20px 3px #00ff8870;
}

.subscribe-btn{
    background-color: transparent;
    color: #00ff88;
    border: 1px solid #00ff88;
     font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.50rem;
    border-radius: 10000px;
    padding:12px 20px; 
}

.banner-img img{
    margin:auto;
}






.podcast-container{
    margin: 0 12.5rem;
    text-align: center;
    padding-top: 3.25rem;
    padding-bottom: 7.50rem;
}

.about-podcast{
    padding-bottom: 80px;
}
.about-podcast h1{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 16px;
}

.about-podcast p{
    font-size: 1rem;
    line-height: 2rem;
    color: #fff;
    padding:0 120px;
}

hr{
    margin: 80px 0;
}

.podcast-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fefefe57;
    padding-top: 80px;
}

.card{
    padding: 0 2rem;
}

.card h1{
    color: #00ff88;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

.card p{
color: #fff;
font-size: 1rem;
font-weight: 400;
}






main{
    background-color: #230e3d;
}

.choose-template-box{
    margin:0 12.5rem;
    padding:7.50rem 0;
}   

.choose-title{
    margin: 0 12.5rem;
    color: #fff;
    padding-bottom: 2.50rem;
}

.choose-title h1{
    text-align: center;
}

.choose-template{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.template{
    padding:40px;
    background-color: rgb(53, 17, 101, 0.4);
    border-radius: 40px;
}

.template img{
    width: 60px;
    height: 60px;
}
.template .fa-bolt{
   background:linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
   -webkit-background-clip: text;
   background-clip:text;
   color: transparent;
}

.template h3{
    font-size: 1.50rem;
    font-weight: bold;
    color: #fff;
    padding:1rem 0;
}

.template p{
    font-size: 1rem;
    line-height: 1.50rem;
    color: #fff;
}

.audio{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#audio{
    grid-column: span 1;
    grid-row:span 2;
}

#interview{
    grid-column: span 2;
    grid-row: span 1;
}

#mobile{
    grid-column: span 2;
    grid-row: span 1;
}

#community{
    grid-column: span 2;
    grid-row: span 1;
}





.episode-title{
    margin:0 12.5rem;
}

.episode-title h1{
    text-align: center;
    color:#fff;
    font-size:3rem;
    font-weight: bold;
    padding-bottom: 2.5rem;
}

.video-content{
    margin:0 12.5rem;
    display: grid;
    gap:30px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 7.5rem;
}

.video-card{
    border-radius: 24px;
    background-color: #250d55;
    padding-bottom:50px;
}

.video-card iframe{
    border-radius: 24px 24px 0 0;
    border: none;
}

.description{
    padding: 1.50rem;
}

.description h1{
    color:#fff;
    font-size: 1.50rem;
    font-weight: bold;
    padding-bottom:.75rem;
}

.description p{
    font-size: 1rem;
    color:#fff;
    line-height: 1.50rem;
    padding-bottom:.75rem;
}

.description .times{
    display: flex;
    align-items: center;
    gap:6px;
}

.description .times span{
    color: #00ff88;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.50rem;
}



#host-section{
    padding-bottom:7.5rem;
}

.host-title{
    margin:0 12.5rem;
}

.host-title h1{
    color: #fff;
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3rem;
}

.host-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
     margin:0 12.5rem;
    padding: 40px;    
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}



.host-descripton h1{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.host-descripton p{
    font-size: 1rem;
    color: #fff;
    line-height: 1.5rem;
    padding:1rem 0;
}

.host-descripton .icon-bar{
    display: flex;
    gap:8px;    
    box-sizing: border-box;
}

.icon-bar .img{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius:50%;
    width:40px;
    height:40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}



footer{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding:120px;
}

.footer-container{
    text-align: center;
}

.footer-container h1{
    font-size: 60px;
    color: #fff;
}

.footer-container h1 span{
    background:linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;
}

.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 32px 0;
    color: #fff;
}

.icon-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.footer-container p{
    color: #fafafa;
    font-size: 1rem;
    line-height: 1.5rem;
}














